extends template

include page/page

block content
	+intro({
		"slides": [
			{
				"title": "ajax StreetSiren",
				"text": "Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру",
				"image": "img/product.png"
			},
			{
				"title": "ajax StreetSiren",
				"text": "Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру",
				"image": "img/product.png"
			},
			{
				"title": "ajax StreetSiren",
				"text": "Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру",
				"image": "img/product.png"
			},
			{
				"title": "ajax StreetSiren",
				"text": "Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру",
				"image": "img/product.png"
			},
			{
				"title": "ajax StreetSiren",
				"text": "Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру",
				"image": "img/product.png"
			},
			{
				"title": "ajax StreetSiren",
				"text": "Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру",
				"image": "img/product.png"
			}
		]	
	})
	+content({
		"products": [
			{
				"name": "Suprema Biostation L2",
				"image": "img/111111.png",
				"description": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі производительность, графику и скорость работы. Устройство имеет емкость 8 Гб для автономного хранения данных до полумиллиона пользователей, а также ведения журнала на 5 миллионов событий, что позволяет обслуживать потребности крупнейшего учреждения.",
				"price": 1200
			},
			{
				"name": "Suprema BioEntry Plus",
				"image": "img/222222.png",
				"description": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі производительность, графику и скорость работы. Устройство имеет емкость 8 Гб для автономного хранения данных до полумиллиона пользователей, а также ведения журнала на 5 миллионов событий, что позволяет обслуживать потребности крупнейшего учреждения.",
				"price": 2750,
				"sale": 3100
			},
			{
				"name": "Suprema Facestation 2",
				"image": "img/333333.png",
				"description": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі производительность, графику и скорость работы. Устройство имеет емкость 8 Гб для автономного хранения данных до полумиллиона пользователей, а также ведения журнала на 5 миллионов событий, что позволяет обслуживать потребности крупнейшего учреждения.",
				"price": 4299,
				"sale": 5399
			},
			{
				"name": "Suprema Xpass S2",
				"image": "img/444444.png",
				"description": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі производительность, графику и скорость работы. Устройство имеет емкость 8 Гб для автономного хранения данных до полумиллиона пользователей, а также ведения журнала на 5 миллионов событий, что позволяет обслуживать потребности крупнейшего учреждения.",
				"price": 4100
			}
		]
	})
	+registrationForm()
