include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include footer/footer
include intro/intro
include title/title

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Barracuda",
				"author": "Wasya1212",
				"description": "Simple site"
			})
			
		+b.BODY.page
			+e.DIV.wrap
				block header
					+header({
						"menu": [
							{
								"text": "Продукція",
								"href": "index.html",
								"submenu": [
									{"href": "index.html", "text": "Продукція 1"},
									{"href": "index.html", "text": "Продукція 2"},
									{"href": "index.html", "text": "Продукція 3"},
									{"href": "index.html", "text": "Продукція 4"},
									{"href": "index.html", "text": "Продукція 5"},
									{"href": "index.html", "text": "Продукція 6"}
								]
							},
							{
								"text": "Готові рішення",
								"href": "index.html",
								"submenu": [
									{"href": "index.html", "text": "Продукція 1"},
									{"href": "index.html", "text": "Продукція 2"},
									{"href": "index.html", "text": "Продукція 3"},
									{"href": "index.html", "text": "Продукція 4"},
									{"href": "index.html", "text": "Продукція 5"},
									{"href": "index.html", "text": "Продукція 6"},
									{"href": "index.html", "text": "Продукція 7"},
									{"href": "index.html", "text": "Продукція 8"},
									{"href": "index.html", "text": "Продукція 9"},
									{"href": "index.html", "text": "Продукція 10"}
								]
							},
							{
								"text": "Підтримка",
								"href": "index.html"
							},
							{
								"text": "Система",
								"href": "index.html",
								"submenu": [
									{"href": "index.html", "text": "Продукція 1"},
									{"href": "index.html", "text": "Продукція 2"},
									{"href": "index.html", "text": "Продукція 3"}
								]
							},
							{
								"text": "Контакти",
								"href": "index.html"
							}
						]
					})
					
				block content
					+content()

				block footer
					+footer()
				
			block vendors
				// build:js js/vendor.js
				script(src="libs/jquery/dist/jquery.min.js")
				script(src="libs/slick-carousel/slick/slick.min.js")
				script(src="https://cdn.jsdelivr.net/npm/flatpickr")
				script(src="libs/flatpickr/src/l10n/ru.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script(src="js/main.js")
				// endbuild
