mixin intro(data)
  +b.SECTION.intro
    +e.DIV.slider
      each slide in data.slides
        +e.DIV.slide
          +e.DIV.wrapper
            +b.HEADER.intro__info
              +e.H3.title= slide.title
              +e.P.text= slide.text
              +b.DIV.img-container
                +e.IMG.img(src= slide.image)
              +b.A.btn(nohref)
                +e.SPAN.details Детальніше
                +e.I.icon.more
                  include ../../app/img/icons/up-arrow.svg
