mixin footer()
  +b.FOOTER.footer
    +e.SPAN.copyright © 2018 Barracuda. All rights reserved
    +b.DIV.author
      +e.P.name
        | Зроблено силами 
        +e.STRONG Wasya1212
        |  та 
        +e.STRONG Otakoyi
      +e.DIV.icon
        +e.IMG.img(src="../img/icons/otakoi.png", alt="")
